:root {
  --nav-width:  100%;
  --nav-height:  20%;
  --font-header-size: 1.5em;
  --font-size: 1em;
}

* {
  margin:  0;
  padding: 0;
}

body {
  background-color:#111;
}

/*** NAV BAR ***/

.navbar {
  width: var(--nav-width);
  height: var(--nav-height);
  padding: 0%;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  

  /* Navbar Style */
}

.navbar-container {
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
}

.nav-title {
  color: white;
  font-size: var(--font-header-size);
}

.nav-links {
  display: flex;
  position: relative;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: var(--font-size);
  
}

.nav-links::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}